html{
    height:100%;
    width:100%;
}
body{
    margin:0 0 0 0;
    height:100%;
    width:100%;
}
#header{
    width:100%;
    height:10%;
    background-color: red;
    text-align: center;
}


#login{
    float:right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#footer{
    clear:both;
    background-color: red;
    width:100%;
    text-align: center;
    height:10%;
}

#leftcolumn{
    float:left;
    background-color: yellow;
    height:73.5%;
    width:20%;
}

#button{
    width:60%;
    height:10%;
    font-size: 32px;
    text-align: center;
    margin:15%;
    
}


#contentbody{

    float:left;
    background-color: grey;
    height:73.5%;
    width:60%;
}

#rightcolomn{
   float:left;
    background-color: green;
    height:73.5%;
    width:20%;
}

body {
    background: #E5E5E5;
    font-family: "Times New Roman", Georgia, Serif;

}


input[type=text] ,input[type=email], input[type=number] , input[type=password], input[type=date] {
    width: 290px;
    height: 27px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}


select {
    width: 315px;
    height: 34px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}
 

button[type=submit]{
    font-weight: bold;
    margin: 10px auto;
    width: 100%;
    height: 50px;
    background: #09c;
    color: #fff;
    font-family: arial;
    font-size:18px;
    border-radius: 20px;
    border: 2px solid #cccccc;
}



button[type=submit]:focus {
    outline:0;
    padding: 4px 13px;
    border: 2px solid blue;
    color:blue;
}



/* invalid / valid */
input:invalid {
     color: red;
}
input:valid {
    color: green;
}



#container { 
    display: block;
    padding: 4px;
    width: 390px;
    margin: 50px auto;
    border: 4px solid #cccccc;
    border-radius: 20px;
}
 

#mainbody {
    display: block;
    margin: 0px auto;
    height:auto;
    width: 350px;
    padding:0px;
    border:0px solid #cccccc;
}





.title {
    color:blue;
    font-size: 40px; 
    border: 0px solid black;
}

.block { 
    margin: 5px auto; 
}

.submit { 
    margin: 20 auto; 
    border:0px solid black;
}